.wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: Arial, sans-serif;
  }
  
  .poster {
    width: 300px;
  }
  
  .btnBack {
    padding: 10px 20px;
    background-color: #BD2CBF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    align-self: flex-start;
    font-family: Arial, sans-serif;
    margin-right: 3px; 
  }
  
  .btnBack:hover {
    background-color: #390240;
  }

  h1, h2, p, li, a {
    font-family: Arial, sans-serif;
  }
  